body {
	font-family: 'Lato', bold;
	perspective: 1px;
  	overflow-y: scroll;
  	overflow-x: hidden;
  	margin: 0;
  	opacity: 1;
  	transition: 2s opacity;
}

.navbar {
	margin: 0;
}

#front-page {
	background: url('https://images.unsplash.com/photo-1455641139200-aebc8e447b8a?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=09460b999e9e7f5e81c85fa83f21c4fd') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.sc-logo img {
	height: 250px;
	width: 250px;
	display: block;
	opacity: .93;
}

.name {
	text-align: center;
	font-family: LemonMilk;
	font-size: 50px;
	color: #f7f7f7;
	letter-spacing: 2px;
}

.skills {
	text-align: center;
	font-family: Lato;
	font-size: 15px;
	font-weight: bold;
	color: #f7f7f7;
}

#work {
	padding: 40px;

}

#work img {
	height: 250px;
	width: 250px;
	margin: 0 auto;
}

/*#portfolio {
  background-color: white;

}

.link a {
	text-decoration: none;
	font-size: 25px;
	color: #1a3865;
}

.gray {
	text-align: center;
	background-color: white;
	padding-bottom: 70px;
}

.pic img {
	font-weight: bold;
	height: 200px;
	width: 200px;
	padding: 50px 20px;
	padding-top: 80px;
}

.link {
}

#contact {
	margin-bottom: 20px;
  	background-color: white;
 	text-align: center;
	font-family: LemonMilk;
	font-size: 20px;
	color: white;
	margin-top: 10px;
	padding: 2px;
	letter-spacing: 3px;
}

#connect {
  	background-color: #6d9dd3;
 	text-align: center;
	font-family: LemonMilk;
	font-size: 15px;
	color: white;
	margin-top: 10px;
	padding: 2px;
	letter-spacing: 4px;
}

a {
    text-decoration: none;
	text-align: center;
	font-family: Lato;
	font-size: 15px;
	font-weight: bold;
	color: #666766;
	margin-top: 10px;
}

#contact .icons img {
	height: 70px;
	width: 70px;
	padding: 50px 20px 30px 15px;
	margin: 0 auto;
}

#orangecontainer {
 	text-align: center;
	font-family: LemonMilk;
	font-size: 30px;
	color: white;
	letter-spacing: 2px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 25px;
}

#orange {
    background: #f47d73;
    cursor: pointer;
    padding: 24px 0px;
}

body.fade-out {
	opacity: 0;
	transition: none;
}

.topbutton {
	color: black;
 	text-align: center;
	font-family: lato;
	font-size: 15px;
	letter-spacing: 2px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 25px;
	border: 1px;
	color: black;

}*/