body {
	font-family: 'Lato', bold;
	perspective: 1px;
  	height: 100%;
  	overflow-y: scroll;
  	overflow-x: hidden;
}

@font-face {
	font-family:"LemonMilk";
	src:url(assets/fonts/LemonMilk.otf);
}

html {
  height: 100%;
  overflow: hidden;
}

#frontpage { 
  	background-color: white; 
  	padding-top: 50px;
}

#thumbnail img {
	height: 250px;
	width: 250px;
	display: block;
	margin: 0 auto;
}

#name {
	text-align: center;
	font-family: LemonMilk;
	font-size: 60px;
	color: #666766;
	margin-top: 10px;
	padding: 2px;
	letter-spacing: 3px;
}

#skills {
	text-align: center;
	font-family: Lato;
	font-size: 15px;
	font-weight: bold;
	color: #878887;
	margin-top: 10px;
}

#portfolio {
  background-color: white;

}

.link a {
	text-decoration: none;
	font-size: 25px;
	color: #1a3865;
}

.gray {
	text-align: center;
	background-color: white;
	padding-bottom: 70px;
}

.pic img {
	font-weight: bold;
	height: 200px;
	width: 200px;
	padding: 50px 20px;
	padding-top: 80px;
}

.link {
}

#contact {
	margin-bottom: 20px;
  	background-color: white;
 	text-align: center;
	font-family: LemonMilk;
	font-size: 20px;
	color: white;
	margin-top: 10px;
	padding: 2px;
	letter-spacing: 3px;
}

#connect {
  	background-color: #6d9dd3;
 	text-align: center;
	font-family: LemonMilk;
	font-size: 15px;
	color: white;
	margin-top: 10px;
	padding: 2px;
	letter-spacing: 4px;
}

a {
    text-decoration: none;
	text-align: center;
	font-family: Lato;
	font-size: 15px;
	font-weight: bold;
	color: #666766;
	margin-top: 10px;
}

#contact .icons img {
	height: 70px;
	width: 70px;
	padding: 50px 20px 30px 15px;
	margin: 0 auto;
}
